<div class="content">
  <header>Sprawdź zamówienie:</header>
  <div class="addres">
    <strong>Dane dostawy:</strong>
    {{order.ship_address.firstname}} {{order.ship_address.lastname}} <br />
    {{order.ship_address.address1}} <br />
    {{order.ship_address.zipcode}} {{order.ship_address.city}} <br />
    tel. {{order.ship_address.phone}} <br />
    {{order.email}}
  </div>

  <div class="shipment">
    <strong>Sposób wysyłki: </strong>
    {{order.selected_shipping_rate.name}}
    {{#if order.selected_shipping_rate.cash_on_delivery}}
      za pobraniem
    {{/if}}
  </div>

  <div class="disclaimer">
    Jeżeli widzisz błędne dane, możesz cofnąć się do dowolnego kroku, aby je poprawić.
  </div>

</div>

<div data-subview="cart"></div>

<button class="next-step btn" data-action="proceed">Zamawiam!</button>
