<div class="form">
  <header>Sposób dostawy:</header>
  <form class="shipping aimer-form">
    {{#each shippingRates}}
      <div class="option">
        <input type="radio" name="shipping_rate_id" id="shipping_rate_{{id}}" value="{{id}}">
        <label for="shipping_rate_{{id}}">
          <span class="name">{{name}}</span>
          <span class="cost">{{formatted_cost}}</span>
          {{#if description}}
            <span class="description">({{description}})</span>
          {{/if}}
        </label>
      </div>
    {{/each}}
  </form>
</div>

<div data-subview="cart"></div>

<button class="next-step btn" data-role="next-shipping">Dalej</button>
