<div class="name">{{variant.name}}</div>
<div class="quantity">{{quantity}}</div>
<div claas="total">{{display_amount}}</div>
<div class="slider" data-value="{{quantity}}" data-id="{{id}}"></div>
<a href="#" data-role="remove" data-id="{{id}}">Remove</a>
