<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Produkt</th>
      <th class="quantity">Ilość</th>
      <th class="price">Kwota</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each order.line_items}}
      <tr data-id="{{id}}">
        <td class="number"></td>
        <td class="name">
          <div class="separator-text">{{weight}} <em>({{pcs}})</em></div>
          <div class="separator"></div>
        </td>
        <td class="quantity">
          <span data-role="quantity">{{quantity}}</span>
          <button class="more action" data-role="increase-quantity" data-id="{{id}}"><i class="fa fa-angle-up"></i></button>
          <button class="less action" data-role="decrease-quantity" data-id="{{id}}"><i class="fa fa-angle-down"></i></button>
        </td>
        <td class="price">
          <div class="separator-text">{{display_total_price}} pln</div>
          <div class="separator"></div>
        </td>
        <td class="remove">
          <button class="remove action" data-role="remove" data-id="{{id}}"></button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="summary">
  razem: <strong class="total">{{order.formatted_total}}</strong>
  {{#if order.selected_shipping_rate}}
    <div class="ship">
      {{#if order.shipping_free}}
        <strong>wysyłka gratis!</strong>
      {{else}}
        w tym wysyłka:
        <strong>
          {{order.selected_shipping_rate.name}}
          {{#if order.selected_shipping_rate.cash_on_delivery}}
            za pobraniem
          {{/if}}
          {{order.formatted_ship_total}}
        </strong>
      {{/if}}
    </div>
  {{/if}}
</div>
