<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Produkt</th>
      <th>&nbsp;</th>
      <th>Ilość</th>
      <th>&nbsp;</th>
      <th class="price">Kwota</th>
    </tr>
  </thead>
  <tbody>
    {{#each order.line_items}}
      <tr>
        <td class="number"></td>
        <td class="name">{{weight}} <em>({{pcs}})</em></td>
        <td class="separator wide"></td>
        <td class="quantity">{{quantity}}</td>
        <td class="separator narrow"></td>
        <td class="price">{{display_price}} pln</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="summary">
  razem: <strong>{{order.formatted_total}}</strong>
  {{#if order.selected_shipping_rate}}
    <div class="ship">
      {{#if order.shipping_free}}
        <strong>wysyłka gratis!</strong>
      {{else}}
        w tym wysyłka: <strong>{{order.selected_shipping_rate.name}} {{order.formatted_ship_total}}</strong>
      {{/if}}
    </div>
  {{/if}}
</div>
