{{#if lineItem}}
  {{#with lineItem}}
    <strong>{{variant.name}}</strong> <br />
    Suma: {{display_amount}}
    <div class="slider" data-value="{{quantity}}" data-id="{{id}}"></div>
  {{/with}}
{{else}}
  {{#with product}}
    <strong>{{name}}</strong> <br />
    Cena: {{display_price}}
    <div class="slider" data-value="{{quantity}}" data-id="{{id}}"></div>
  {{/with}}
{{/if}}
