<span class="price">
  {{display_price}} <br />
  pln
</span>

<span class="weight">
  {{weight}}
  <span class="pcs">{{pcs}}</span>
</span>

<div class="slider" data-value="{{quantity}}" data-id="{{id}}"></div>

<input name="quantity" class="quantity" value="{{quantity}}" />
